<div id="footer">
    <div class="container big">

        <div class="footer__content">
            <div class="footer__links">
                <div class="link-section">
                    <div class="link-section__title">Links</div>

                    <a href="#" class="link-section__item hidden-link">Home</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                </div>
                <div class="link-section">
                    <div class="link-section__title">Links</div>

                    <a href="#" class="link-section__item hidden-link">Home</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                </div>
                <div class="link-section">
                    <div class="link-section__title">Links</div>

                    <a href="#" class="link-section__item hidden-link">Home</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                    <a href="#" class="link-section__item hidden-link">Contacts</a>
                </div>
                <div class="link-section" id="mobile-app-section">
                    <div class="link-section__title">Mobile App</div>

                    <a href="#" class="link-section__item hidden-link">App store</a>
                    <a href="#" class="link-section__item hidden-link">Google play</a>
                </div>
            </div>

            <div id="company-location"></div>
        </div>
        <p class="footer__copyright">Coffee Shop © 2020</p>

    </div>
</div>