<div class="header__line" id="header-menu-line">

    <a href="/" class="hidden-link">
        <div class="company">
            <img src="/resources/images/logo.png" alt="" class="company__logo">
            <p class="company__name hidden-link">Coffee Shop</p>
        </div>
    </a>

    <div class="menu-block">
        <div class="menu">
            <a href="/" class="menu__item non-selectable hidden-link">Home</a>
            <a href="/catalog" class="menu__item non-selectable hidden-link">Catalog</a>
            <a href="/contacts" class="menu__item non-selectable hidden-link">Contacts</a>
        </div>

        <button class="yellow-button cursor-pointer">Login</button>

        <div class="mobile">
            <span class="fas fa-bars mobile__nav-toggle"></span>

            <div class="mobile-menu">
                <a href="/" class="mobile-menu__item non-selectable hidden-link">Home</a>
                <a href="/catalog" class="mobile-menu__item non-selectable hidden-link">Catalog</a>
                <a href="/contacts" class="mobile-menu__item non-selectable hidden-link">Contacts</a>
            </div>
        </div>
    </div>
</div>