<body>
    <div id="header">
        <div class="container big">
            {{> menu}}
        </div>
    </div>

    <div id="main">
        
    </div>

    {{> footer}}

    <script>
        const productId = '{{ productId }}';
    </script>
    <script type="module" src="/resources/js/drink-details.js"></script>
</body>