{{#section 'head'}}
<link rel="stylesheet" href="/resources/css/drink-details.css">
{{/section}}

<body>
    <div id="header">
        <div class="container big">
            {{> menu}}
        </div>
    </div>

    <div id="main">
        <div class="container big">

            <div class="buy-drink-line">
                <div class="drink-details">
                    <h2 class="drink-details__name">Flat White</h2>

                    <div id="drink-details__sizes-line" class="drink-details__line">
                        <img src="https://cafe-drinks-api.herokuapp.com/images/flat-white.png"
                            class="drink-details__img">

                        <div class="drink-sizes">
                            <div class="drink-size small">
                                <img src="/resources/images/cups/drink-details__cup.png" class="drink-size__img">
                                <p class="drink-size__price">2</p>
                            </div>

                            <div class="drink-size medium">
                                <img src="/resources/images/cups/drink-details__cup.png" class="drink-size__img">
                                <p class="drink-size__price">2.4</p>
                            </div>

                            <div class="drink-size big">
                                <img src="/resources/images/cups/drink-details__cup.png" class="drink-size__img">
                                <p class="drink-size__price">2.8</p>
                            </div>
                        </div>
                    </div>

                    <div class="drink-details__description">A flat white is a coffee drink consisting of espresso with
                        microfoam (steamed milk with small, fine bubbles and a glossy or velvety consistency). It is
                        comparable to a latte, but smaller in volume and with less microfoam, therefore having a higher
                        proportion of coffee to milk, and milk that is more velvety in consistency – allowing the
                        espresso to dominate the flavour, while being supported by the milk. </div>

                    <div class="drink-details__line">

                        <div class="number-up-down">
                            <p class="number-up-down__text number-up-down__plus non-selectable">+</p>
                            <p class="number-up-down__text number-up-down__value">3</p>
                            <p class="number-up-down__text number-up-down__minus non-selectable">-</p>
                        </div>

                        <p class="drink-details__total-price">$17</p>

                    </div>

                    <button class="drink-details__buy-button">Buy</button>
                </div>
            </div>

        </div>
    </div>

    {{> footer}}

    <script>
        const productId = '{{ productId }}';
    </script>
    <script type="module" src="/resources/js/drink-details.js"></script>
</body>
