#header {
    padding-bottom: 1em;
}

#main {
    padding-top: 1.6em;
}

.drink-details {
    background-color: var(--yellow);
    border-radius: 13px;
    box-sizing: border-box;
    padding: 0 1.6em;
    padding-top: 0.6em;
    padding-bottom: 1.4em;
}

.drink-details__name {
    font-weight: bold;
    text-decoration: underline;
    color: var(--brown);
    text-align: center;
}

.drink-details__img {
    max-width: 225px;
    width: 50%;
    margin: 0 auto;
    display: block;
    transform: translateX(3%);

    margin-bottom: 0.2em;
}

.drink-details__description {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 0.75em;
}

.drink-details__description::before, .drink-details__description::after {
    content: '';
    display: block;
    width: 35%;
    height: 1.5px;
    margin: 0 auto;
    background-color: white;
}

.drink-details__description::before {
    margin-bottom: 1.3em;
}

.drink-details__description::after {
    margin-top: 1.3em;
}

.drink-details__buy-button {
    background: var(--brown-light);
    border-radius: 11px;
    border: none;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75em;
    padding: 0.15em 0;
    width: 40%;
    margin: 0 auto;
    margin-top: 0.75em;
}


.drink-details__prices-line {
    width: 63%;
    margin: 0 auto;
}

/* Pricing table */

.drink-details__sizes {
    font-size: 1.2em;
    border-collapse: collapse;
    color: var(--brown);

    width: 100%;
    margin-top: 1.1em;
}

.drink-details__sizes th, .drink-details__sizes td {
    width: 33%;
    border: 1px solid var(--brown);
}

.drink-details__sizes th {
    font-weight: bold;
    text-decoration: underline;
    padding: 0.5em 0;
}
.drink-details__sizes td {
    padding: 0.25em;
    text-align: center;
}

.drink-size__count {
    background: transparent;
    border: 0;

    height: 100%;
    width: 100%;

    text-align: center;
    font-size: inherit;
    color: var(--brown);
}

/* /Pricing table */

/* To pay */

.to-pay {
    font-size: 1.3em;
    color: var(--brown);
    text-align: right;
    margin-top: 0.8em;
    font-weight: bold;
}
.to-pay__text {
    text-decoration: underline;
}
.to-pay__price {
    margin-left: 0.2em;
}

/* /To pay */


/* Media queries */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .drink-details__prices-line {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 1224px) {}

/* /Media queries */